<%= bootstrap_form_for(@agency, layout: :horizontal, label_col: "col-sm-1", control_col: "col-sm-4") do |f| %>
  <h1>編輯機構資料</h1>

  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit "更新", class: "btn btn-default btn-primary" %>
  <%= link_to "取消", agencies_path, :class => "btn btn-default" %>

<% end %>