<div class="modal fade" id="drug1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">處方內容一藥品</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form role="form" id="drugs-form">
            <div class="form-group" id="drugs_extender">
              <div class="drug-container">
                <div class="col-md-8">
                  <input type="text" class="form-control drugs-search-txt" name="drugs[]" id="drug1.1">
                </div>
                <div class="col-md-2">
                  <input type="text" class="form-control" id="drug1-status" name="status[]">
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-default" id="add-btn" onclick="addNewDrug()">加入新藥品</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="drug2text()">儲存藥品內容</button>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  $('.drugs-search-txt').autocomplete({
    source: "/drugs/search",
    minLength: 2
  });
});

var drug_nums = $('#drugs-form :input').length / 2 + 1;

function addNewDrug() {
  drug_nums ++;
  $('<div class="drug-container">\
      <div class="col-md-8">\
        <input type="text" class="form-control drugs-search-txt ui-autocomplete-input" \
        autocomplete="off" name="drugs[]" id="drug1.' +
        drug_nums + '">\
      </div>\
      <div class="col-md-2">\
        <input type="text" class="form-control" id="drug1.' +
        drug_nums + '-status" name="status[]">\
      </div>\
      <div class="col-md-2">\
        <button type="button" class="close remove-drug">\
          <span aria-hidden="true">&times;</span>\
          <span class="sr-only">Close</span>\
        </button>\
      </div>\
    </div>')
    .fadeIn("fast")
    .appendTo('#drugs_extender');
  console.log(drug_nums);
  return false;
}

$('div').on('click', '.remove-drug', function() {
  $(this).parents('.drug-container').fadeOut("fast", function() {
    $(this).empty();
    return false;
  });
});
</script>