<%= bootstrap_form_for(setup_af(@assessmentForm), layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4") do |f|  %>
  <h1>編輯評估記錄表</h1>

  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit "更新", class: "btn btn-default btn-primary" %>
  <%= link_to "取消", assessment_forms_path, :class => "btn btn-default" %>

<% end %>