<%= bootstrap_form_for @pharmacist, :url => pharmacists_path(@pharmacists),
                                     :method => :patch do |f| %>
  <h1>編輯藥師資料</h1>

  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit "更新", class: "btn btn-default btn-primary" %>
  <%= link_to "取消", pharmacists_path, :class => "btn btn-default" %>

<% end %>